.chat {
  display: grid;
  overflow-y: hidden;
  grid-template-rows: 40px 1fr 32px;
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
}

.chat__header {
  border-bottom: 1px solid #F0F0F0;
}

.chat__header i {
  padding-right: 8px;
}

.chat__messages {
  overflow: scroll;
}

.message-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  font-size: 14px;
}

.profile-picture img {
  border-radius: 4px;
  min-width: 32px;
  object-fit: cover;
  object-position: center;
}

.message__content {
  padding: 2px 16px;
}

.message__user {
  font-weight: bold;
}

code {
  color: #EC3EAA;
}

.chat__input input {
  box-sizing: border-box;
  padding: 0 8px;
  width: 100%;
  height: 32px;
}