/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

/* Importing partials */
@import "./sidebar";
@import "./workspace";
@import "./chat";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 64px 192px 1fr;
  height: 100vh;
}

h1 {
  padding-bottom: 16px;
  font-size: 24px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 16px;
  font-weight: normal;
}